body {
  background-color: black;
  color: white;
}

.main-btn {
  background-color: rgb(0, 174, 174);
  padding: 8px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.main-btn.danger{
    background-color: red;
}

