.card-wrapper {
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.card-top {
  border-bottom: 1px solid #ccc;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.card-top a{
    color: rgb(103, 103, 255);
}
.card-bottom {
  padding: 24px;
}
